
html, 
body {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.break {
    flex-basis: 100%;
    height: 0;
  }

  #container {
    display: flex;
    width: 550px;
    height: 650px;
    padding: 25px 0;
    border-style: solid;
    border-color: black;
    background-color: #BEFBFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#display {
    display: flex;
    flex: 1;
    width: 496px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #BEFBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    
}

#output {
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: end;
}

#buttons {
    display: flex;
    flex: 1;
    width: 500px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    background-color: #BEFBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.button {
    background-color: #BEFBFF;
    display: flex;
    height: 76px;
    width: 125px;
    flex: 1;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}